 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
* {
box-sizing: border-box;
}
html {
	overflow-x: hidden;
}
body {
	background-color: #ffffff;
	font-family: Roboto,fontawesome,Helvetica Neue,Open Sans,Arial;
}
.first {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}
.header {
	padding-left: 24px;
	padding-right: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 72px;
	width: 100vw;
	max-width: 1440px; 
}
.logo-m {
	display: none;
}
.dop { 
	width: 86%;
	font-size: 16px;
}
.dop ul{
	width: 100%;
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.dop-l {
	color: #000;
	font-weight: 300; 
	text-decoration: none;

}
.dop-l1 {
	color: #000;
	font-weight: 300; 
	text-decoration: none;

}
.dop-l2 {
	color: #000;
	font-weight: 300; 
	text-decoration: none;

}
.dop-l3 {
	color: #000;
	font-weight: 300; 
	text-decoration: none;

}

.dop-l3 span:hover {
	opacity: 0.6;
	color: red;

}
#select {
	display: block;
}
.dop li{
	padding-left: 0.5%;
}
#select{
	display: block;
}
.dop-l span {
	font-weight: 700;
}
.dop-l:hover {
	opacity: 0.6;
	color: red;

}
.dop-l1 span {
	font-weight: 700;
}
.dop-l2 span {
	font-weight: 700;
}
.dop-l3 span {
	font-weight: 700;
}
#input {
	display: none;
	border: 2px, #4385f5;
	z-index: 1;
}

#myModal {
	opacity: 0;
	transition: 1.5s;
}

.modal {
	position: fixed;
	bottom: 1%; 
	right: 1%;

}
#news {
	opacity: 0;
	transition: 1s;
	border-radius: 5px;
	background: #4385f5; 
	height: 300px;
	width: 500px;
	position: fixed;
	top: 15px; 
	right: 14px;
	z-index: -1;
	padding: 24px;
	box-shadow: 0px 6px 6px rgba(0,0,0,0.25),
0 0 6px rgba(0,0,0,0.12);

}
#news p{
	color: #fff;
	padding-bottom: 10px;
	
}
#news input{
	padding-bottom: 10px;
}


.modal img{
	z-index: 2;
}
#btn3 {
	text-decoration: none;
	padding: 5px;
	margin: 0px;
	background: #fff;
}
.close {
position: absolute;
right: 16px;
top: 10px;
width: 16px;
height: 16px;
opacity: 0.7;
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 17px;
width: 2px;
background-color: #fff;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}
.dopbutton {
	font-weight: bold;
	border-radius: 5px;
	color: #FFF;
	background-color: #4385f5;
	padding: 12px 20px;
	text-decoration: none;
	box-shadow: 0px 6px 6px rgba(0,0,0,0.25),
0 0 6px rgba(0,0,0,0.12);
}
.dopbutton:hover {
	box-shadow: 0px 10px 10px rgba(0,0,0,0.25),
0 0 10px rgba(0,0,0,0.12);
}
.dopbutton:active {
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25),
    0 0 4px rgba(0,0,0,0.12);
}
.dop-button-m {
	position: relative;
	z-index: 0;
	display: none;
}
.menuWrapper {
	height: 40px;
	overflow: hidden;
}
.podlogka-menu {
	margin-bottom: -20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #4385f5;
	width: 100vw;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
}

.menu { 
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	width: 100vw;
	max-width: 1440px;
	min-width: 1024px;
	position: relative;
}
.menu::after, .menu::before {
	content: '';
    position: absolute;
    background: #fff;
    left: 25px; bottom: -10px;
    width: 11px; height: 11px;
    z-index: 1; 
    transform: rotate(135deg);
} 
.menu ul{
	padding-left: 24px;
	padding-right: 24px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	list-style: none;
}
.menu-list {
	font-size: 14px;
	font-weight: 500;
	color: #EBEBEB;
	text-decoration: none;
}
.menu-list:hover {
	color: #fff;
	text-shadow: #fff 0 0 0.2px
}
.content {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	max-width: 1440px;
	height: 655px;
}
.content2 {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	max-width: 1440px;
	height: 383px;
}
.news {
	display: flex;
	flex-direction: column;
	width: 67%;
	padding-left: 24px;
	max-height: 655px;
}
h3 {
	padding-bottom: 16px;
	padding-top: 24px;
	font-size: 22px;
	font-weight: 500;
}
.conteiner {
	height: 248px;
	display: flex;
	justify-content: flex-start;
	border-bottom: 1px solid #C4C4C4;
}
.img-glav {
	overflow: hidden;
	height: 224px;
	max-width: 472px;
	width: 47%;
	background-color: grey;
}
.text-glav {
	width: 53%;
	margin-left: 24px;
	height: 224px;
	max-width: 536px;
	display: flex;
	flex-direction: column;
	justify-content: space-between; 
}
.data {
	height: 16px;
}
.data p{
	font-size: 16px;
	font-weight: 400: 
	color: #00000;
}
.data span{
	padding-left: 6px;
	font-weight: 300;
}
.zagolovok {
	padding-top: 8px;
	height: 57px;
	padding-right: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
}
.zagolovok h1{
	font-size: 24px;
	font-weight: 500;
}
.text {
	margin-top: -14px;
	height: 64px;
	padding-right: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 4;
}
.istochnik {
	margin-top: -12px;
	height: 20px;
	color:  #4385f5;
	font-size: 12px;
}
.sms {
	font-size: 12px;
	font-weight: 400;

}
.news-user {
	width: 33%;
	margin-left: 24px;
	display: flex;
	flex-direction: column;
	max-width: 480px;
	min-width: 320px;
	padding-right: 24px;
	max-height: 655px;

}
.reklama {
	width: 33%;
	margin-left: 24px;
	display: flex;
	flex-direction: column;
	max-width: 480px;
	min-width: 320px;
	padding-right: 24px;
	height: 382px;

}
.reklama1 {
	width: 33%;
	margin-left: 24px;
	display: flex;
	flex-direction: column;
	max-width: 480px;
	min-width: 320px;
	padding-right: 24px;
	height: 382px;
	padding-bottom: 17px;

}
.blok-r {
	height: 383px;
	background-color: #eee;
	display: flex;
  	align-items: center;
  	justify-content: center;
}
.blok-r a{
	text-decoration: none;
	color: #4385f5;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
}
.blok-r p{
	margin: 0;

}
.blok-r2 {
	margin-top: 24px;
	height: 383px;
	background-color: #eee;
  	display: flex;
  align-items: center;
  justify-content: center;
}
.blok-r2 a{
	text-decoration: none;
	color: #4385f5;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
}
.blok-r2 p{
	margin: 0;

}
h4 {
	padding-bottom: 16px;
	padding-top: 24px;
	font-size: 22px;
	font-weight: 500;
	margin-left: 24px;
}
.news-us {
	padding-left: 24px;
	height: 547px;
	border-left: 1px solid #C4C4C4;
}
.news-us h3{
	font-weight: 400;
	font-size: 18px;
	padding-top: 0px;
}
.text-menu{
	margin-top: 10px;
	padding-right: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;
	height: 48px;
}
.text-menu1{
	margin-top: 25px;
	padding-right: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;
	height: 48px;
}
.menu-news {
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	color: #000000;
}
.menu-news::before {
	content: '14:53';
	padding-right: 5px;
	color: #6B6767;
	font-weight: 300;
}
.container2 {
	margin-top: 24px;
	display: flex;
	justify-content: space-between;
	height: 152px;
}
.container5 {
	display: flex;
	justify-content: space-between;
	height: 152px;
}
.img1 {
	overflow: hidden;
	max-width: 224px;
	width: 22.6%;
	background-color: grey;
	height: 152px;
}
.img1-1 {
	overflow: hidden;
	max-width: 224px;
	width: 22.6%;
	background-color: grey;
	height: 152px;
	display: none;
}
.img2 {
	overflow: hidden;
	max-width: 250px;
	width: 22.6%;
	background-color: grey;
	height: 152px;
}
.img3 {
	overflow: hidden;
	max-width: 224px;
	width: 22.6%;
	background-color: grey;
	height: 152px;
}
.img4 {
	overflow: hidden;
	max-width: 224px;
	width: 22.6%;
	background-color: grey;
	height: 152px;
}
.container2-1 {
	padding-top: 24px;
	display: flex;
	justify-content: space-between;
	height: 123px;
}
.text1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 224px;
	width: 22.6%;
	height: 99px;;
}
.text2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 224px;
	width: 22.6%;
	height: 99px;
}
.text3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 224px;
	width: 22.6%;
	height: 99px;

}
.text4 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 224px;
	width: 22.6%;
	height: 99px;
}
.data2 {
	height: 16px;
}
.data2 p{
	font-size: 16px;
	font-weight: 400: 
	color: #00000;
}
.data2 span{
	padding-left: 6px;
	font-weight: 300;
}
.zagolovok2 {
	padding-top: 4px;
	height: 40px;
	padding-right: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
}
.zagolovok2 h1{
	font-size: 18px;
	font-weight: 500;
}
.istochnik2 {
	height: 20px;
	color:  #4385f5;
	font-size: 12px;
}
.sms2 {
	font-size: 12px;
	font-weight: 400;

}
.container3 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 45px;
	font-size: 18px;
	font-weight: 500;
	border-bottom: 1px solid #C4C4C4;
}
.container3-1 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 45px;
	font-size: 18px;
	font-weight: 500;
}
.container3 a{
	text-decoration: none;
	color: #4285F4;
}
.container3-1 a{
	text-decoration: none;
	color: #4285F4;
}
.container4 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 18px;
	font-weight: 500;
	height: 45px;
	border-bottom: 1px solid #C4C4C4;
}
.container4 a{
	text-decoration: none;
	color: #4285F4;
}	
.second {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between; 
}
.second2 {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between; 
}
.second3 {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between; 
}
.second4 {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between; 
}
.second5 {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between; 
}
.second6 {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between; 
}
.bg {
	background: #eee;
	width: 100vw;
	height: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	
}
.futer {
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	display: flex;
	justify-content: space-between;
	max-width: 1440px;
	width: 100%;
	height: 300px;
}
.link { 
	padding-top: 3px;: 
	margin-left: 10px;
	width: 60%;
	max-width: 830px;
	height: 170px;
	display: flex;
	justify-content: space-between;
}
.link1 {
	padding-top: 19px;
	max-width: 220px;
	min-width: 210px
	width: 36%;
	height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: nowrap;
	font-size: 14px;
}
.link1 a{
	text-decoration: none;
	color: #000;
}
.link2 {
	padding-top: 19px;
	max-width: 140px;
	width: 28%;
	height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 14px;
}
.link2 a{
	text-decoration: none;
	color: #000;
}
.link3 {
	padding-top: 19px;
	max-width: 175px;
	width: 33%;
	height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 14px;
}
.link3 a{
	text-decoration: none;
	color: #000;
}
.soc-sety {
	display: flex;
	justify-content: space-between;
	height: 115px;
}
.soc-sety img{
	margin-left: -2px;
	margin-right: -5px;
} 
/*Стили для кнопки*/
.applicationButton {
    letter-spacing: 0.5px;
    margin-left: 96px;
    margin-top: 25px;
    background: #4385f5;
    border: none;
    width: 400px;
    height: 55px;
    border-radius: 3px;
    color: #fff;
    font-size: 24px;
    font-family: Roboto;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.25),
    0 0 8px rgba(0,0,0,0.12);

}
.applicationButton:hover {
        {box-shadow: 0px 14px 14px rgba(0,0,0,0.25),
0 0 14px rgba(0,0,0,0.12);
}
.applicationButton:active {
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25),
    0 0 4px rgba(0,0,0,0.12);
}







